*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Poppins;
    }
    
    body{
    background:linear-gradient(135deg,#0f2027,#203a43,#2c5364);
    height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
    color:white;
    }
    
    .container{
    background:rgba(255,255,255,0.1);
    backdrop-filter:blur(10px);
    padding:30px;
    border-radius:15px;
    width:420px;
    box-shadow:0 10px 30px rgba(0,0,0,0.3);
    }
    
    header{
    display:flex;
    justify-content:space-between;
    align-items:center;
    margin-bottom:20px;
    }
    
    #themeToggle{
    border:none;
    background:none;
    font-size:20px;
    cursor:pointer;
    color:white;
    }
    
    .converter input{
    width:100%;
    padding:10px;
    border:none;
    border-radius:6px;
    margin-bottom:15px;
    }
    
    .currency-row{
    display:flex;
    align-items:center;
    justify-content:space-between;
    margin-bottom:15px;
    }
    
    .currency-box{
    display:flex;
    align-items:center;
    gap:5px;
    }
    
    .currency-box img{
    width:30px;
    }
    
    select{
    padding:8px;
    border-radius:6px;
    border:none;
    }
    
    #swapBtn{
    padding:8px;
    border:none;
    border-radius:6px;
    cursor:pointer;
    }
    
    button{
    width:100%;
    padding:10px;
    border:none;
    border-radius:6px;
    background:linear-gradient(90deg,#00c6ff,#0072ff);
    color:white;
    cursor:pointer;
    margin-top:10px;
    }
    
    button:hover{
    opacity:0.9;
    }
    
    #result{
    margin-top:15px;
    text-align:center;
    }
    
    .history{
    margin-top:20px;
    }
    
    .history ul{
    list-style:none;
    max-height:120px;
    overflow:auto;
    }
    
    .history li{
    padding:5px;
    border-bottom:1px solid rgba(255,255,255,0.2);
    }
    
    .chart-container{
    margin-top:20px;
    }
    
    .dark{
    background:#111;
    color:white;
    }